@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {  
  background-color: #F9F9F9;
  width: 100%;
  font-family: Comfortaa, Helvetica, sans-serif;
}

#main-section {
  max-width: 71.875rem;  
  margin: 0 auto;
}

/*----- Header-top-bar -----*/  

#header-top {
  background-color: #95b5ac!important;  
  height: 2.5rem;
  padding: 0.313rem 0;
  display: flex;
  justify-content: space-between;
}

.signup-login {  
  font-weight: 600; 
}

.login {
  border-left: 2px solid #EAEFF2;
}

.social-list > a,
.signup-login > a {
  color: #EAEFF2;
  padding: 0 0.625rem; 
  text-decoration: none;
}

.social-list > a:hover,
.signup-login > a:hover {  
  color: #808080;
  transition-duration: 0.5s;  
}

/*---- Logo ----*/

.logo {  
  padding: 1.25rem 0 1.25rem 0;
  background-color: #f8f9fa;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > a {
  width: 50%;  
  display: flex;
  justify-content: center
}

/*---- Navigation ----*/

.navbar-brand {
  display: none;
}

#navbarblock {  
  display: flex;
  justify-content: center;  
}

.navbar-nav > li {
  padding-left: 3.75rem;
  text-align: right;
}

hr {
  margin: 0;
}


/* --- Middle Section Index.html --- */

.container {  
  margin-top: 0.625rem;  
}

.row {
  display: flex;
  justify-content: center;

}

.col-recipe {
  border: 1px solid rgba(0,0,0,.1);  
  margin: 1.25rem;
}

.hr-middle {
  margin-top: 50px;
  margin-bottom: 50px;
}

#middle-section {
  margin-top: 2.5rem;
}

.food-align {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.food-image {
  width: 100%;
  height: 25vw;
  object-fit: cover;  
}

.author {
  margin-top: 0.625rem;
  text-align: center;
}

.title {
  margin: 1.25rem 0 1.25rem;
}

i {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.btn {
  margin-top: 1.25rem;
  border-radius: 0;
}

.btn-subscribe {
  margin-top: 0; 
  border: 1px solid #ced4da !important; 
  border-radius: 0.25rem;
}

.btn-align {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.btn,
.page-link  {
  background-color: white;
  color: black;
  border: 1px solid #555555;
}

.btn:hover,
.page-link:hover  {
  background-color: #95b5ac;
  color: white;
  border: 1px solid #95b5ac;  
}

/* --- CONTINUE READING post_detail.html --- */

.masthead-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.938rem;
}

.food-image-postdetail {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.span_bold {
  font-weight: bold;
}

.hr-post {
  margin: 15px 0 15px;
}

.requiredField {
  display: none;
}

element.style {
  display: none;
}

.btn-like {
  border: none;
  background-color: #f8f9fa;  
}

.comments-title {
  margin-left: 1.25rem;
}

.heart-likes {
  display: flex;
}

/* --- Middle Section about.html --- */

.about-h1 {
  margin-bottom: 0.938rem;
}

.food-image-about {
  width: 70%;
  margin: 0.938rem 0 0.938rem;
}

.about-me {
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
  height: auto;
}

.aboutme-main {
  margin: 1.875rem;
}

.aboutme-image {
  margin-left: auto;
  margin-right: auto;
  display: block; 
  width: 80%;
  height: auto;
}

.about-name {
  margin: 0.625rem;
}

.social-list-about {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.social-list-about > a {
  color: #abb8c3;
  padding: 0 0.625rem;
}

/* --- Contact--- */

.contact-h1 {
  margin-bottom: 1.25rem;
}

.form-text-area {
  margin-top: 1.25rem;
}

.input-form {
  padding: 0.625rem;
}

.form-btn {
  margin-bottom: 1.25rem;
}

/* --- Subscribe --- */

#subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #eeeeee;
  height: auto;
  padding: 1.25rem 1.25rem;
  margin-top: 2.5rem;
}

.subscribe-right {  
  display: flex;
}

.subscribe-right > a {  
  margin-left: 0.625rem;
}

/* --- Footer --- */

#footer {
  background-color: #95b5ac!important;  
  height: 3.75rem;
  padding: 0.313rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social > a {
  color: #EAEFF2;
  padding: 0 4.6875vw; 
  text-decoration: none;
}

.footer-social > a:hover {  
  color: #808080;
  transition-duration: 0.5s;  
}

#footer-contact {
  height: 3.75rem;
  background-color: rgb(238,238,238);
}

.footer-contact-align {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-contact > i{
  padding-right: 0.625rem;
}

.footer-contact {
  color: #808080;
  text-decoration: none;
}

.footer-contact:hover {  
  color: #1C6758;
  transition-duration: 0.5s;
  text-decoration: none;  
}

p.footer-p {
  margin-top: 0.938rem;
}

/*----- Media Queries -----*/

@media (max-width: 992px) {  

  /* about page */

  #middle-section {
    margin-left: 0.625rem;  
    margin-right: 0.625rem;
  }

  /* Logo */
  .logo {  
    display: none;
  }
  .navbar-brand {
    display: flex;
    width: 40%;
  }

  /* NavBar */
  #navbarblock {
    display: flex;
    justify-content: end;
  }
}
  
@media (max-width: 768px) {
  /* Subscribe Bar */
  .subscribe-left {
    text-align: center;
  }

/* --- CONTINUE READING post_detail.html --- */

.group {
  font-size: 15px;  
}
}

@media (max-width: 576px) {
  /* Contact page */
  .col-sm-4 {
    margin-top: 0.625rem;
  }

  .form-text-area {
    margin-top: 0.625rem;
  }

/* --- CONTINUE READING post_detail.html --- */

.group {
  font-size: 12px;  
}

  
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

