{% extends 'base.html' %} 
{% block content %}

<!--- Middle Section -->
<main id="main-section">
	<!--- About Section -->
	<section id="middle-section">
		<div class="row colsm8-div">
			<div class="col-sm-8">
				<h1 class="about-h1">About</h1>
				<p>A website made for you, with the best typical recipes from Brazil.</p>
				<p>Our objective is to encourage and promote Brazilian gastronomy's richness, complexity and cultural diversity.</p>
				<p>You have the opportunity to create your user and add your recipe!</p>
				<img class="food-image-about" src="https://res.cloudinary.com/epari/image/upload/v1663179457/kjnf0mdqfshbjehepeb2.jpg" alt="">				
			</div>									
			<div class="col-sm-4">
				<div class="about-me">
					<h6 class="text-center aboutme-main">ABOUT ME</h6>
					<img class="aboutme-image" src="https://res.cloudinary.com/epari/image/upload/v1664116613/about_zw3fkw.jpg" alt="about me">
					<h6 class="text-center about-name">Lorem</h6>
					<p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam praesentium tempore dolor alias animi, minima assumenda.</p>
					<div class="social-list-about">			
						<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
						<a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
						<a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
						<a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
					</div>
				</div>											
			</div>			
		</div>
	</section>
</main>

{% endblock content %}
