{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

{% if user.is_authenticated %}
<div>
    <h1>Share your recipe!</h1>
    <Label>* (required field)</Label>
    <div>
        <div>
            <form action="{% url 'add_recipe' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <Label>Title *</Label>                    
                    {{ recipe_form.title|as_crispy_field }}
                </div>
                <div>
                     {{ recipe_form.excerpt|as_crispy_field }}
                </div> 
                <div>
                    <Label>Preparation Time *</Label>
                    {{ recipe_form.prep_time|as_crispy_field }}
                </div>                
                <div>
                    <Label>Cooking Time *</Label>
                    {{ recipe_form.cook_time|as_crispy_field|safe }}
                </div>
                <div>
                    <Label>Serves *</Label>
                    {{ recipe_form.serves|as_crispy_field|safe }}
                </div>
                <div>
                    <Label>Calories *</Label>
                    {{ recipe_form.calories|as_crispy_field|safe }}
                </div>
                <div>
                    <Label>Ingredients *</Label>
                    {{ recipe_form.ingredients|as_crispy_field|safe }}
                </div>
                <div>
                    <Label>Description *</Label>
                    {{ recipe_form.description|as_crispy_field|safe }}
                </div>
                <div>
                    <Label>Method *</Label>
                    {{ recipe_form.method|as_crispy_field|safe }}
                </div>
                <div>
                    {{ recipe_form.image|as_crispy_field }}
                    <p>If no image is uploaded a default image will be displayed</p>
                </div>
                <button type="submit" class="btn add-recipe-button">Submit</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <p>Please <a href="{% url 'account_signup' %}"> Sign up or <a href="{% url 'account_login' %}"> Login to share a
                recipe!</a></p>
</div>
{% endif %}

{% endblock %}