{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <div>                    
                    <h1 class="post-title">{{ post.title }}</h1>
                    <p class="post-subtitle">{{ post.id_user }} | {{ post.created_date }}</p>
                </div>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.image.url %}
                <img src="https://res.cloudinary.com/epari/image/upload/v1663764105/pexels-nyara-aquino-5643426_f8z7t4.jpg" width="80%">
                {% else %}
                <img src=" {{ recipe.image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 group">
                        <div>
                            <p><i class="fa-regular fa-clock"></i><span class="span_bold">Prep time:</span> {{ post.prep_time }}</p>
                            <p><i class="fa-regular fa-clock"></i><span class="span_bold">Cook time:</span> {{ post.cook_time }}</p>
                            <p><i class="fa-solid fa-people-group"></i><span class="span_bold">Serves:</span> {{ post.serves }} people</p>
                            <p><i class="fa-solid fa-fire-flame-curved"></i><span class="span_bold">Calories:</span> {{ post.calories }}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <img class="food-image-postdetail" src="{{ post.image.url }}" alt=""> 
                    </div>
                </div>
                <hr class="hr-post">
                <div>
                    <h4>Description:</h4>
                    <p class="card-text ">                        
                        {{ post.description | safe }}
                    </p>
                </div>
                <div>
                    <h4>Ingredients:</h4>
                    <p>{{ post.ingredients | safe }}</p>
                </div>
                <div>
                    <h4>Method:</h4>
                    <p>{{ post.method | safe }}</p>
                </div>

                <div class="row">
                    <div class="col-1">
                        <strong class="heart-likes">
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_likes' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary"> {{ post.number_of_likes }} </span>
                        </strong>                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr class="hr-post">
        </div>
    </div>

    <!-- Comments -->
    <div class="row">
        <div class="col-md-8">
            <h3 class="comments-title">Comments:</h3>
            <div class="col-1">
                {% with Comment.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>                    
                    {{ total_comments }}</strong>
                {% endwith %}
            </div>
            <div class="card-body">
                {% for Comment in comments %}
                <div class="comments">
                    <p class="font-weight-bold">
                        {{ Comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ Comment.created_date }}
                        </span> wrote:
                    </p>
                    {{ Comment.content | linebreaks }}
                    {% if request.user == Comment.id_user %}
                        <p><a href="{% url 'delete_comment' Comment.pk %}">
                        <button class="btn-danger"><i class="fa fa-trash"></i> | Delete</button></a></p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div>
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval                    
                </div>
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert alert-sucess fade show msg-submit" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div> 
                    {% if request.user == comment.id_user %}
                    <form method="POST" action="{% url 'delete_comment' comment.pk %}"> {% csrf_token %}
                        <input class="btn-sm btn-outline-danger" type="submit" value="Delete comment">
                    </form>
                    {% endif %}
                {% endfor %}                    
                </div>
                {% else %}
                {% if user.is_authenticated %}
                
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Update/Delete recipe -->
<div class="container mt-4">
    <div class="row">
        <div class="col">
            {% if request.user == post.id_user %}
            <h5>Manage your recipe:</h5>
            <strong>{{ post.id_user }}</strong> - {{ post.title }}
            <p><a href="{% url 'edit_recipe' post.slug %}"><button
                class="btn btn-success edit-recipe"><i class="fa fa-edit"></i> | Edit</button></a>
              <a href="{% url 'delete_recipe' slug %}"><button class="btn btn-danger">
                <i class="fa fa-trash"></i> | Delete</button></a></p>
            {% endif %}
        </div>
    </div>
</div>
<div class="container text-center">
    <br /><br />
    <a href="{% url 'home' %}" class="btn back-button btn-default">Back</a>
</div>

{% endblock content %}